/* :root {
    --baseOne: hsl(0, 0%, 100%);
    --baseTwo: hsl(252, 2%, 51%);
    --baseThree: hsl(0, 0%, 96%);
    --baseFour: hsl(0, 0%, 100%);
    --accent1: hsl(6, 100%, 80%);
  } */

/* @media (prefers-color-scheme: dark) {
    :root {
      --baseOne: hsl(229, 57%, 11%);
      --baseTwo: hsl(243, 100%, 93%);
      --baseThree: hsl(228, 56%, 26%);
      --baseFour: hsl(229, 57%, 11%);
      --accent1: hsl(6, 100%, 80%);
    }
  } */

body[data-theme="default"] {
  /* base */
  --main-background: #212121;
  --main-border: #383737;
  --panel-background: #212121;
  --sidebar-background: #212121;

  /* workspace */
  --workspace-active: #42464f;

  /* chat */
  --active-chat: #383737;
  --hover-chat: #282828;
  --hover-active-chat: #3e3d3d;

  /* message */
  --msg-user-border: #343841;
  --msg-user-body: #24272d;
  --msg-assistent-border: #383737;
  --msg-assistent-body: #2a2929;

  /* chat */
  --chat-content-width: 900px;
  --chat-color-text: #cacaca;

  /* scroll */
  --scrollbar-tracker: #282828;
  --scrollbar-thumb: #807f7f;

  /* controls */
  --control-element: #D7BA7D;

  /* input */
  --input-ring: #D7BA7D;
}

body[data-theme="ocean"] {
  /* base */
  --main-background: #101827;
  --main-border: #1F2937;
  --panel-background: #141C2B;
  --sidebar-background: #141C2B;

  /* workspace */
  --workspace-active: #374151;

  /* chat */
  --active-chat: #383737;
  --hover-chat: #282828;
  --hover-active-chat: #3e3d3d;

  /* message */
  --msg-user-border: #1F2937;
  --msg-user-body: #121B2A;
  --msg-assistent-border: #1F2937;
  --msg-assistent-body: #121B2A;

  /* chat */
  --chat-content-width: 900px;
  --chat-color-text: #D1D5DB;

  /* scroll */
  --scrollbar-tracker: #282828;
  --scrollbar-thumb: #807f7f;

  /* controls */
  --control-element: #D7BA7D;

  /* input */
  --input-ring: #D7BA7D;
}
